 <div class= "center jumbotron" style="background:white" >


<h1 class='text-center'>Edit Profile</h1>

<%= render 'form', mentee: @mentee %>

<%= link_to 'Go to Profile', menteeprofile_path(@mentee) %>
</div>
</div>
