<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.7.1.min.js"></script>    
    <div class="parallax"></div>

    <div style="height:1000px;background-color:white;font-size:36px;background-size: auto;max-height: 650px;">
    <div style="font-size:100px">
        <br><br><br><br><br><br>
        <%= link_to "Log in", login_path  %> 
        <br><br><br><br><br><br>
        <%= link_to "Sign up", "/users/new"  %>
    </div>
    </div>

</body>
</html>