<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.7.1.min.js"></script>    
    <div class="parallax"></div>

    <div style="height:1000px;background-color:white;font-size:50px;background-size: auto;max-height: 650px;">
        <br>
        <%= link_to "Log in", login_path, class: "r-link ai-element ai-element__label ai-element3"%>
        <br>
        <%= link_to "Sign up", "/users/new", class: "r-link ai-element ai-element__label ai-element3" %>
    </div>

</body>
</html>