<!DOCTYPE html>
<html>
<head>
    <title>Mentorship App</title>
    <meta charset="utf-8">
</head>
<body>
    <%= render 'layouts/header' %>
    <h1>Welcome to the mentorship app!</h1>
    <h2>Click the link below to sign up</h2>
    <%= link_to 'Sign Up', "/users/new"%> 
</body>
</html>



