<!DOCTYPE html>
<html>
<head>
    <title>Mentorship App</title>
    <meta charset="utf-8">
</head>
<body>
    <%= render 'layouts/header' %>
    <div class= "center jumbotron" style="background:white" >
    <h1>Welcome to Brandeis Mentorship</h1>
</div>
</body>
</html>