<!DOCTYPE html>
<html>
<head>
    <title>Mentorship App</title>
    <meta charset="utf-8">
</head>
<body>
    <%= render 'layouts/header' %>
    <div class= "center jumbotron" style="background:white" >
    <h1>Explore</h1>

    <ol class="carousel-indicators">
    <% if @user.mentee? %>
        <% users = @mentors%>
    <% elsif @user.mentor? %>
        <% users = @mentees %>
    <% end %>

    <% users.each do |possible_match| %>
        <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>    
        <div class="carousel-inner" role="listbox">
        <div class="item active">
            <%= %>
        </div>
    <% end %>
    </ol>

</div>
    </div>
</body>
</html> 