// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button2,
.button3 {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    transition: all 0.15s;
    background-color: #003478;
}

.button2:hover {
    color: #003478;
    border-color: #003478;
    background-color: transparent;
}

.button3:hover {
    color: #003478;
    border-color: #003478;
    background-color: white;
}

.button2:active {
    color: #003478;
    border-color: #003478;
}

@media all and (max-width:30em) {
    .button2 {
        display: block;
        margin: 0.4em auto;
    }
}